<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/static/image/logo.png">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Puissance 4</title>
</head>
<body>
  <div class="ligne">
    <h1>Puissance
      <img src="/static/image/logo.png" class="logo" alt="logo"> 
    </h1>
  </div>

  <div class="ligne">
    <div class="menu">
      <h2>Choix du mode de jeu</h2>
      <form method="POST" action="/">
        <input type="hidden" name="action" value="set_classic">
        <a href="/game?new=1&classic=1" class="btn-play">partie classique</a>

      </form>

      <a href="/game?new=1" class="btn-play">parti avec les paramètres personnalisés</a>
    </div>

    <div class="menu">
      <h2>Paramètres de la partie</h2>

      <label for="rows">Nombre de lignes :</label>  
      <div class="input-selector">
        <form id="decrement_rows" action="/" method="POST" style="display:none">
          <input type="hidden" name="action" value="decrement_rows">
        </form>
        <button type="submit" form="decrement_rows">-</button>

        <span class="value">{{.Rows}}</span>

        <form id="increment_rows" action="/" method="POST" style="display:none">
          <input type="hidden" name="action" value="increment_rows">
        </form>
        <button type="submit" form="increment_rows">+</button>
      </div>

      <label for="cols">Nombre de colonnes :</label>
      <div class="input-selector">
        <form id="decrement_cols" action="/" method="POST" style="display:none">
          <input type="hidden" name="action" value="decrement_cols">
        </form>
        <button type="submit" form="decrement_cols">-</button>

        <span class="value">{{.Cols}}</span>

        <form id="increment_cols" action="/" method="POST" style="display:none">
          <input type="hidden" name="action" value="increment_cols">
        </form>
        <button type="submit" form="increment_cols">+</button>
      </div>

      <label for="condition">Condition de victoire :</label>
      <div class="input-selector">
        <form id="decrement_condition" action="/" method="POST" style="display:none">
          <input type="hidden" name="action" value="decrement_condition">
        </form>
        <button type="submit" form="decrement_condition">-</button>

        <span class="value">{{.Condition}}</span>

        <form id="increment_condition" action="/" method="POST" style="display:none">
          <input type="hidden" name="action" value="increment_condition">
        </form>
        <button type="submit" form="increment_condition">+</button>
      </div>
    </div>
  </div>
</body>
</html>
