<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/static/image/logo.png">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Puissance 4</title>
</head>
<body>
  <div class="ligne">
    <h1>Puissance <img src="/static/image/logo.png" class="logo" alt="logo"></h1>
  </div>
  <div class="ligne">
    <div class="menu">
      <h2>Choix du mode de jeu</h2>
      <form method="post" action="/">
        <input type="hidden" name="action" value="partie_classique">
        <button class="btn-play" type="submit">Partie classique</button>
      </form>
      <form method="post" action="/">
        <input type="hidden" name="action" value="partie_perso">
        <button class="btn-play" type="submit">Partie personnalisée</button>
      </form>
    </div>
    <div class="menu">
      <h2>Paramètres de la partie</h2>
      <label>Nombre de lignes :</label>
      <div class="input-selector">
        <form method="post" action="/" style="display:inline">
          <input type="hidden" name="action" value="decrement_rows">
          <button type="submit">-</button>
        </form>
        <span class="value">{{.Rows}}</span>
        <form method="post" action="/" style="display:inline">
          <input type="hidden" name="action" value="increment_rows">
          <button type="submit">+</button>
        </form>
      </div>

      <label>Nombre de colonnes :</label>
      <div class="input-selector">
        <form method="post" action="/" style="display:inline">
          <input type="hidden" name="action" value="decrement_cols">
          <button type="submit">-</button>
        </form>
        <span class="value">{{.Cols}}</span>
        <form method="post" action="/" style="display:inline">
          <input type="hidden" name="action" value="increment_cols">
          <button type="submit">+</button>
        </form>
      </div>

      <label>Condition de victoire :</label>
      <div class="input-selector">
        <form method="post" action="/" style="display:inline">
          <input type="hidden" name="action" value="decrement_condition">
          <button type="submit">-</button>
        </form>
        <span class="value">{{.Condition}}</span>
        <form method="post" action="/" style="display:inline">
          <input type="hidden" name="action" value="increment_condition">
          <button type="submit">+</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
