<label for="rows">Nombre de lignes :</label>
  <div class="input-selector">
    <!-- On clique réduit  rows -->
    <button type="button" class="btn-increment">-</button>
    <label for="rows"></label>
    <input type="number" id="rows" name="rows" min="4" max="20" value="6" required>
    <!-- On clique augmente rows -->
    <button type="button" class="btn-decrement">+</button>
  </div>


  <label for="cols">Nombre de colonnes :</label>
  <div class="input-selector">
    <button type="button" class="btn-increment">-</button>
    <input type="number" id="cols" name="cols" min="4" max="20" value="7" required>
    <button type="button" class="btn-decrement">+</button>
  </div>

  <label for="condition">Condition de victoire :</label>
  <div class="input-selector">
    <button type="button" class="btn-increment">-</button>
    <input type="number" id="condition" name="condition" min="4" max="7" value="4" required>
    <button type="button" class="btn-decrement">+</button>
  </div>